extends ./layout
block content 
	.container-fluid.col-10.col-sm-10.col-md-8.col-lg-6
		.card.mb-4
			form(method=method, action=endPoint, target=target).card-body
				each field, key in fields
					.form-group.row.mb-3.mt-3
						- let header = (key[0].toUpperCase() + key.slice(1)).replace('_', ' ')
						- let fType = field['inputType']
						.col-sm-4.col-md-4.col-lg-4
							b.mb-0.border-bottom=header
						.col-sm-8.col-md-8
							input(
								name=key,
								placeholder='Input ' + header.toLowerCase(),
								type=fType,
								value=field['value']
							).form-control
							if errors[key]
								small.text-danger.small.ml-1=errors[key]
				.form-group.row.justify-content-end.mx-auto
					input(type='submit', value='Submit').col-3.col-sm-2.col-md-3.col-lg-2.btn.btn-primary
		